body {
    font-family: 'Courier', monospace;
    line-height: 1.5rem;
    color: #ccc;
    margin: auto;
    max-width: 50em;
    background-color: #000;
}

#page-title {
    text-align: center;
}

#page-title h1 a, .post a {
    color: #ff9800;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ff2e88;
}

a {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ff2e88;
}

body a:link {
    color: #ccc;
}

a:visited {
    color: #ccc;
}

a:hover{
    background-color:#ff2e88;
    color:#fff} 

#page-title a:hover, .post a:hover {
    background-color:#ff2e88;
    color:#fff
   
}

.date-time-title {
    display: inline-block;
}

#posts {
    padding-left: 2em;
}

.post {
    padding-left: 1em;
}

.blog-post {
    padding-left: 1em;
}
